Library
Logs
UserSettings
Assembly-CSharp.csproj
*.csproj
*.sln
*.vsconfig
Temp
.vs
obj
Builds
Assets/NatureManufacture Assets/L.V.E- Lava and Volcano Environment/Terrain Data/_TerrainAutoUpgrade/layer_T_lava_sand_10_A_SMT_lava_sand_10_N(10.000,10.000)(0.000,0.000)(0.000,0.000,0.000),0.000,0.000.terrainlayer.meta
Assets/NatureManufacture Assets/L.V.E- Lava and Volcano Environment/Terrain Data/_TerrainAutoUpgrade/layer_T_lava_rock_02_A_SMT_lava_rock_02_N(15.000,15.000)(0.000,0.000)(0.000,0.000,0.000),0.000,0.000.terrainlayer.meta
